<!DOCTYPE html>
<html lang="zh" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>

<h2>欢迎使用 Spring Boot Advice</h2>

<button onclick="ajaxException()">Ajax异常按钮</button>

<a th:href="@{/error/arithmetic.html}" target="_blank">页面异常URL</a>

<!-- JQuery JS -->
<script type="text/javascript" th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
<script type="text/javascript" th:inline="javascript">
    // 项目绝对位置
    const ctxPath = /*[[@{/}]]*/ +'';

    function ajaxException() {
        $.ajax({
            url: ctxPath + 'error/arithmetic.json',
            data: {},
            method: 'get',
            timeout: 1000 * 10,
        }).done(function (response) {
            console.info('请求：', response);
        }).fail(function (response) {
            console.error('请求异常：', response);
        });
    }
</script>
</body>
</html>